#searchSection {
	/*border: 1px solid #ccc;*/
	padding: 20px 20px 40px 20px !important;
	/*margin-top: 20px !important;*/
	background-color: #EEE !important;
	border-radius: 10px !important;
}

#counter {
    text-align: center !important;
    /* font-weight: bold !important; */
    font-size: 1.2rem;
}
